body{
  display: flex;
}
.card {
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 100%;
    height: 485px;
  }

  .img-card{
    z-index: 3;
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;

  }

  #img-cv{
    object-fit:cover;
    image-rendering: pixelated;
    background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
    border-top-right-radius: 4.5%;
    border-top-left-radius: 4.5%;
    height: 100%;
    width: 100%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    z-index: 2;
    padding: 2px 16px;
    height: 40%;
  }
  
  .container> p {
    color: #AAADB4;
  }
  
  .bi-three-dots-vertical {
   margin-left: 60%; 
  }

  .btn-preview {
    z-index: 1;
    margin-top: -22px;
    margin-left: 25px;
    position: absolute;
    border: 3px;
    background-color: #3D85FA;
    border-style: solid;
    border-color: #fff;
    border-radius: 100%;
    height: 55px;
    width: 55px;
  }

  .buttons> .btn-download{
    height: 40px;
    width: 130px;
    border: none;
    margin-right: 40%;
    background-color: #E8E8E9;
    border-radius: 8%;
  }
  
  .buttons> .btn-search{
    background-color: #fff;
    border: none;
  }

  .buttons> .btn-edit{
    margin-right: 2%;
    background-color: #fff;
    border: none;
  }
  
