.dashboard {
    box-shadow: 0px 5px 5px #000;
    position: fixed;
    z-index: 1000;
    background-color: #141F39;
    top: 0px;
    bottom: 0;
    padding: 0;
    margin: 0;
    padding-top: 4%;
    width: 300px;
    margin-left: -200px;
    transition: 0.2s all;
    overflow: hidden;
    overflow-y: visible;
  }

  .dashboard:hover{
    margin-left: 0px;
    transition: 0.2s all;
  }

  .dashboardlogo{
    /* background: url('../../img/logo.png') no-repeat #fff; */
    background-size: 100% 100%;
    background-size: cover;
    width:100%;
    height: 250px;
  }
  
  .dashboard__Icon {
    color: white;
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .dashboard__Log-out {
    background-color: red !important ;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 2% !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 90% !important;
  }
  .dashboard:hover .sidebar__Log-out{ 
    width: 100% !important;
    transition: 1s all;
  }