.sidebarOption {
  padding-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #3D85FA;
    border-radius: 2%;
    color: #fff;
    transition: color 100ms ease-out;
  }

  .sidebarOption > .MuiSvgIcon-root {
    padding-left: 235px;
    position: absolute;
  }
  
  .sidebarOption > h2 {
    padding-left: 3%;
    font-size: 18px;
    color: #fff;
  }
  .sidebarOption:hover > h2 {
    color: #fff;
  }
  .sidebarOption--active {
    width: 90%;
    color: #fff;
  }
  .sidebarOption--active:hover {
    color: #fff;
  }